@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0E9FE;
}

/*efeito nos links, vai até o nav > a:hover::after*/
.linksCabecalho > a {
    position: relative;
    padding: 10px 10px 12px;
    color: #000000;
    font-weight: bold;
}

nav > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #6e00b8;
    transition: all 0.3s ease;
}

nav > a:hover::after {
    width: 70%;
    
}

.cabecalho {
    display: flex; /* Para alinhar os itens horizontalmente */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 10px; /* Ajuste conforme necessário */
    background-color: #fff; /* Cor de fundo */
    width: 100%; /* Ocupa toda a largura */
    box-sizing: border-box; /* Garante que padding e bordas não aumentem a largura */
}

.linksCabecalho {
    display: flex;
    gap: 20px; /* Espaço entre os links */
    flex-wrap: nowrap; /* Evita que os links se movam para baixo */
    font-weight: bold;
}

/*botão de login*/
.login {
    background-color:#360267 ;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}

.login:hover {
    background-color:#5500a4 ;
    cursor: pointer;
}


/* Estilos para o menu hambúrguer */
.menuHamburguer {
    display: none; /* Ocultar por padrão */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menuHamburguer .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
}

.menuHamburguer {
    cursor: pointer; /* Indica que é clicável */
}

/*descrição completa do site*/
.descricaoCompleta {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.222);
}

.descricaoCompleta p {
    padding: 15px;
    text-align: justify;
    color: black;
    font-weight: bold;
}

.descricaoCompleta h2 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.videoSobreSite {
    margin: auto;
    height: 315px;
    width: 450px;
}

video {
    height: 315px;
    width: 450px;

}

.especificacoesTecnicas {
    padding: 25px;
    text-align: justify;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.222);
}

.especificacoesTecnicas li {
    padding-left: 10px;
    padding-bottom: 8px;
}

.especificacoesTecnicas h2, .especificacoesTecnicas h3 {
    color: #3c0074;
    padding-top: 20px;
    background-color: white;
}

.nossosPlanos {
    background-color: #5500a4;
    text-shadow: 4px 4px 4px #7100dc;
    width: 70%;
    margin: auto;
}

.nossosPlanos p {
    background-color: #5500a4;
    padding: 15px;
    text-align: justify;
}

.nossosPlanos h2 {
    text-align: center;
    border-bottom-left-radius: 20px;
    background-color: #240046;
    border: 1px solid white;
}

.formularioDeContato {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 15px;
}

.formularioDeContato h2, .formularioDeContato p {
    color: black;
    text-align: center;
    background-color:white;
}

.entreEmContato {
    background-color: #c180ff7d;
    width: 65%;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
    font-size: 16px;
    margin-bottom: 10px;
}

textarea {
    height: 100px; /* Altura inicial */
    resize: vertical; /* Permitir redimensionar verticalmente */
}

textarea::placeholder {
    text-align: start; /* Alinha o placeholder ao início do input */
    vertical-align: top; /* Alinha o placeholder ao topo */
}

.entreEmContato > button {
    background-color: #240046;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.entreEmContato button:hover {
    background-color: #52009e;
}

.avaliacoesDoSite {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.avaliacoesDoSite h2 {
    margin-bottom: 20px;
    color: black;
    background-color: white;
}

.avaliacoes {
    max-height: 300px; /* Altura máxima da div */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    height: 250px;
}

.avaliacoes p {
    word-wrap: break-word; /* Permite quebra de palavras */
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #20006f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

button:hover {
    background-color: #180050;
}

.emoji-select {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 10px;
}

.todosOsAcessos h2{
    color: black;
    text-align: center;
    background-color: #F0E9FE;
}

.todosOsAcessos p {
    color: black;
    padding: 10px;
}

.quantidadeDeAcessos {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    align-items: center;
}





/* Estilos para o rodapé */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: #240046;
    height: 200px;
}

footer > h1, h2, h3, h4, p, a{
    padding: 10px;
    color: white;
}

.sociais {
    font-size: 25px;
    padding: 10px;
}

.logoDoSiteFooter {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    flex-direction: column;

    margin-left: 20px; /* Espaço entre a imagem e o texto do rodapé */
}

.footer a {
    color: #000;
    margin: 0 10px;
}

/* Mostrar o menu hambúrguer em telas menores */
@media (max-width: 500px) {
    .menuHamburguer {
        display: flex;

    }

    .linksCabecalho {
        display: none; /* Ocultar o menu padrão em telas pequenas */
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        right: 0;
        padding: 10px;
    }

    .linksCabecalho.show {
        display: flex; /* Mostrar o menu quando ativado */
        font-weight: bold;
        padding-right: 0px;
        background-size: auto;
        z-index: 9;
    }

    .login {
        margin-left: 10px;
    }

    .nossosPlanos {
        width: 100%;
        margin: auto;
    }

    .avaliacoesDoSite {
        width: 90%;
    }

    .videoSobreSite {
        margin:auto;
        height: 170px;
        width: 305px;
    }
    
    video {
        height: 170px;
        width: 305px;
    
    }

}



/* Responsividade */

/* Regras de mídia para dispositivos móveis */
@media screen and (min-width: 480px) and (max-width: 768px) {

    footer {
        flex-direction: column;
        text-align: center;
    }

    .rede-social {
        grid-template-columns: 2fr;
    }

}

@media (width < 600px){

    .login {
        width: 80px;
        font-size: 0.7em;
    }

    .cabecalho > nav > a {
        font-size: 14px;
    }

    .imgCabecalho {
        width: 70px;
    }

}