@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.cabecalho {
    display: flex;
    justify-content: center; /* Centraliza todos os itens no header */
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    position: relative;
}

.usuario {
    cursor: pointer;
}

.menu-usuario {
    display: none;/* Esconde o elemento da página */
    position: absolute;/* Define o posicionamento como absoluto, em relação ao contêiner mais próximo com position não estático */
    top: 100%;/* Posiciona o elemento a 100% da altura do contêiner pai a partir do topo */
    left: 0;/* Alinha o elemento ao início do contêiner pai, à esquerda */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;/* Define a ordem de empilhamento como 1000, para que o elemento fique acima de outros com valores menores */


    border-radius: 5px;
    background: #E0CFFF;
    height: 400px;
}

.img-usuario {
    width: 80px;
}

.img-sair {
    width: 40px;
}

.img-posicao {
    width: 40px;
}

.posicao-atual {
    text-align: center;
}

.sair-da-conta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;

    padding-bottom: 30px;
}

.nome-usuario {
    text-align: center;
    padding-bottom: 40px;
}

#concursos {
    width: 150px;
    padding: 6px;
    border-radius: 10px;
    background-color: #F0E9FE;
    border: 1px solid #ccb2ff;
}

.inscricao > h2, .numero-de-inscricao{
    font-size: 1em;
    padding-top: 40px;
}

.inscricao {
    display: flex;
    justify-content: space-between;
}

/* Centralizar o nome do concurso no header */
.nome-do-concurso {
    flex: 1; /* Permite que a div ocupe o espaço disponível */
    text-align: center; /* Centraliza o texto dentro da div */
    justify-content: center;
}

.concurso, #concurso {
    padding-right: 30px ;
}

/* Outras regras de estilo para a página */

.video {
    margin: auto;
    height: 315px;
    width: 450px;
}

video {
    height: 315px;
    width: 450px;

}

.informacoes-do-concurso {
    background-color: #F0E9FE;
    padding: 20px;
    margin: 15px;
}

.estatistica-do-mais-cobrado {
    margin-right: 20px;
}
#file-list {
    background-color: white;
    border: 1px solid #ccc;
    max-height: 300px; /* Ajuste a altura conforme necessário */
    overflow-y: auto; /* Rolagem vertical */
    padding: 10px;
    list-style-type: none;
    width: 350px; /* Ajuste a largura conforme necessário */
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#file-list li {
    margin: 5px 0;
}

.imagens-informacoes-do-concurso {
    width: 65px;
}

.participantes, .cargo, .resultados {/*imagens*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.participantes > h2, p, .cargo > h2, p,  .estatistica-do-mais-cobrado > h2{
    font-size: 1em;
}

.estatistica-do-mais-cobrado > h2 {
    font-size: 1em;
    padding: 10px;
}

.resultados > a, p {
    color: #360267;
    position: relative;
    padding-bottom: 0.75rem;
}

.resultados > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #6e00b8;
    transition: all 0.3s ease;
}

.resultados > a:hover::after {
    width: 70%;
    
}

.seu-historico, .aptos-proxima-etapa {
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    color: gray;
    height: 450px; 
}

.etapas-anteriores {
    margin: auto;
    margin-top: 20px;
    height: 40vh;
    width: 90vw;
    border: 1px solid rgba(0, 0, 0, 0.537);
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: #240046;
    height: auto;
}

.footer >  p, a{
    padding: 10px;
    color: white;
}

.logo-do-site-footer {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

.sociais {
    font-size: 25px;
    padding: 10px;
}

.rede-social {
    grid-template-columns: 2fr;
    border-radius:60px ;
    border: 1px solid white;
    padding: 6px;
}


@media screen and (min-width: 480px) and (max-width: 768px) {
    .img-usuario {
        width: 70px;
    }

    .concurso {
        font-size: 1em;
    }

    .participantes > h2, p, .cargo > h2, p {
        font-size: 1em;
    }

    .resultados > a, p {
        font-size: 1em;
    }
}

@media (width < 600px){
    .img-usuario {
        width: 60px;
    }

    .concurso {
        font-size: 1em;
    }

    .participantes > h2, p, .cargo > h2, p {
        font-size: 0.8em;
    }

    .resultados > a, p {
        font-size: 0.8em;
    }

    .video{
        margin:auto;
        height: 170px;
        width: 305px;
    }
    
    video {
        height: 170px;
        width: 305px;
    
    }
}