@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    background-color: #F0E9FE;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalhoTelaDoAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white ;
}

.imgUsuarioAdmin {
    width: 80px;
}

.Notificacao {
    width: 80px;
}

.imgDocumento {
    width: 40px;
}

.tratamentoDeDados > h2 {
    padding: 10px;
    color: #A0A0A0;
}

.concursosTelaAdmin {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    background-color: white;
    padding: 20px;
}

.selectConcurso {
    width: 120px;
    border-radius: 10px;
    padding: 6px;
    background-color: #F0E9FE;
    color: #A8A0A0;
    font-weight: bold;
}

.sistemaDeTratamento{
    background-color: white;
    width: 90vw;
    height: 400px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.tratamento {
    width: 60vw; /* Largura mínima */
    height: 100px;
    resize: horizontal; /* Permite redimensionar horizontalmente */
    border-radius: 8px; /* Arredonda os cantos */
    box-sizing: border-box; /* Inclui padding e borda na largura total do elemento */
    padding: 10px; /* Adiciona padding interno */
    border: 1px solid #ccc; /* Borda leve */
    font-size: 16px; /* Tamanho da fonte */
    position: relative; /* Para alinhar o placeholder ao topo esquerdo */
    background-color: #F0E9FE;
}

/* Estilo para o botão */
.tratar {
    display: block; /* Faz o botão ocupar a largura total disponível */
    margin: auto;
    min-width: 50vw; /* Largura total do contêiner pai */
    margin-top: 10px; /* Espaçamento acima do botão */
    padding: 10px; /* Padding interno */
    border-radius: 10px; /* Arredonda os cantos */
    border: 1px solid #ccc; /* Borda leve */
    background-color: #4D0095; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro */
}

/* Estilo para o botão ao passar o mouse */
.tratar:hover {
    background-color: #6d00d3; /* Cor de fundo ao passar o mouse */
}

.usuarios, .concursosDisponiveis  {
    background-color: white;
    color: #7c7c7c;
    height: 450px;
    padding: 15px;
}

.usuarios > h2, .concursosDisponiveis > h2 {
    text-align: center;
}

.todosOsUsuariosLogados, .todosOsConcursos  {
    margin: auto;
    margin-top: 20px;
    height: 40vh;
    width: 90vw;
    border: 1px solid rgba(0, 0, 0, 0.537);
    border-radius: 10px;
    overflow-y: auto;
}

.arquivoDaEstatistica {
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

.todosOsUsuariosLogados > p, .todosOsConcursos  > p {/*css do paragrafo que sera adicionado a partir do js e api*/
    padding: 10px;
    padding-left: 15px;
}
.maisInformacoes {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.maisInformacoes  input {
    margin: 10px;
    padding: 10px;
    width: 70vh;
    border-radius: 10px;
    border: 1px solid gray;
}

.maisInformacoes button {
    padding: 10px;
    border-radius: 10px;
    background-color: #4D0095;
    color: white;
    border: #4D0095;
    font-weight: bold;
    margin-bottom: 10px;
}

.maisInformacoes button:hover {
    border: 1px solid white;
    box-shadow: 8px 8px 10px #9f39ff5e;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: #240046;
    height: 200px;
}

.footer >  p, a{
    padding: 10px;
    color: white;
}

.logoDoSiteFooter {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

.sociais {
    font-size: 25px;
    padding: 10px;
}


@media screen and (min-width: 480px) and (max-width: 768px) {
    .imgUsuarioAdmin {
        width: 70px;
    }

    .maisInformacoes  input {
        width: 45vh;
    }
}

@media (width < 600px) {
    .imgUsuarioAdmin {
        width: 60px;
    }

    .maisInformacoes  input {
        width: 30vh;
    }

    .maisInformacoes button {
        margin-bottom: 10px;
    }
}